.view-root {
	-fx-background-color: #fafafa;
	-fx-text-fill: #424b57;
	-fx-padding: 0;
}

.button {
	-fx-background-color: transparent;
	-fx-border-color: #424b57;
	-fx-border-width: 1px;
	-fx-border-radius: 6px;
	-fx-text-fill: #424b57;
}

.heading {
	-fx-background-color: #fafafa;
	-fx-font-size: 1.5em;
	-fx-text-fill: #424b57;
}

.label {
	-fx-text-fill: #424b57;
}

.aside {
		-fx-background-color: #fcfcfc;
}